<a href="https://colab.research.google.com/github/jyoti-kumbhar/Data-Science/blob/main/2b_c_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
dataframe = pd.DataFrame()

In [45]:
#loading dataset
df=pd.read_csv('/content/Titanic-Dataset.csv')
print(df.head(2))
print(df.tail(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch     Ticket     Fare Cabin Embarked
0      0  A/5 21171   7.2500   NaN        S
1      0   PC 17599  71.2833   C85        C
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [5]:
print("Dimensions:{}".format(df.shape))
df.describe()

Dimensions:(891, 12)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
#navigating dataframes
print(df.iloc[0])

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [7]:
print(df.iloc[1:4])

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S

In [8]:
print(df.iloc[:4])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S

In [9]:
df=df.set_index(df['Name'])
df.loc['Braund, Mr. Owen Harris']

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: Braund, Mr. Owen Harris, dtype: object

In [10]:
#selecting rows
df[df['Age'] >= 35].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
print("multiple rows")
df[(df['Sex']=='female')&(df['Age']>=35)].head(4)

multiple rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
"Bonnell, Miss. Elizabeth",12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [12]:
#replacing values
df['Sex'].replace('female','Woman').head(3)

Name
Braund, Mr. Owen Harris                                 male
Cumings, Mrs. John Bradley (Florence Briggs Thayer)    Woman
Heikkinen, Miss. Laina                                 Woman
Name: Sex, dtype: object

In [13]:
#rename columns
df.rename(columns={'Pclass':'Passenger Class','Sex':'Gender'}).head(3)

,PassengerId,Survived,Passenger Class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [14]:
#finding the min,max,sum,average and count
print('Maxium: {}'.format(df['Age'].max()))
print('Minimum: {}'.format(df['Age'].min()))
print('Mean: {}'.format(df['Age'].mean()))
print('Sum: {}'.format(df['Age'].sum()))
print('Count: {}'.format(df['Age'].count()))

Maxium: 80.0
Minimum: 0.42
Mean: 29.69911764705882
Sum: 21205.17
Count: 714

In [15]:
print('Variance: {}'.format(df['Age'].var()))
print('Standard: {}'.format(df['Age'].std()))
print('Kurtosis: {}'.format(df['Age'].kurt()))
print('Skewness: {}'.format(df['Age'].skew()))

Variance: 211.0191247463081
Standard: 14.526497332334044
Kurtosis: 0.17827415364210353
Skewness: 0.38910778230082704

In [16]:
#finding unique values
df['Survived'].unique()
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [17]:
#handling missing values
df[df['Age'].isnull()].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Moran, Mr. James",6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S

In [18]:
#delete a column
df.drop("Age",axis=1).head(2)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C

In [19]:
#delete a row
df[df['Age']!='male'].head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [20]:
df.groupby('Survived')['Name'].count()
df.groupby(['Sex','Survived'])['Age'].mean()

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64

In [21]:
#loops
for name in df['Name'][0:2]:
  print(name.upper())

BRAUND, MR. OWEN HARRIS
CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)

In [22]:
[name.upper() for name in df['Name'][0:2]]

['BRAUND, MR. OWEN HARRIS',
 'CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)']

In [23]:
df.groupby("Sex").apply(lambda x: x.count())

/tmp/ipython-input-3939051452.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Sex").apply(lambda x: x.count())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,,
female,314,314,314,314,314,261,314,314,314,314,97,312
male,577,577,577,577,577,453,577,577,577,577,107,577

In [24]:
#checking missing values
print(df.isnull().sum())
print("total:",df.isnull().sum().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
total: 866

2 primary ways of handling missing values:
*   Deleting the Missing values
*   Imputing the Missing Values

In [25]:
#deleteing the missing values(deleting entire row)
df1=df.dropna(axis=0)
print(df1.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [26]:
#deleting entire column
df2=df.drop(['Cabin'],axis=1)
print(df2.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [47]:
#Imputing the Missing Value
#replace missing values with 0
df1=pd.read_csv('/content/Titanic-Dataset.csv')
df1["Cabin"] =  df1["Cabin"].fillna(0)
print(df1["Cabin"].isnull().sum())

0

In [48]:
#replacing missing values with mean
df2=pd.read_csv('/content/Titanic-Dataset.csv')
df2["Age"] =  df2["Age"].fillna(df2["Age"].mean())
print(df2["Age"].isnull().sum())

0

In [49]:
#replacing with mode
df3=pd.read_csv('/content/Titanic-Dataset.csv')
df3["Embarked"] =  df3["Embarked"].fillna(df3["Embarked"].mode()[0])
print(df3["Embarked"].isnull().sum())

0

In [50]:
#replacing with median
df4=pd.read_csv('/content/Titanic-Dataset.csv')
df4["Age"] =  df4["Age"].fillna(df4["Age"].median())
print(df4["Age"].isnull().sum())

0

In [57]:
# Forward-Fill
df5=pd.read_csv('/content/Titanic-Dataset.csv')
df5['Age'].fillna(method='ffill')

/tmp/ipython-input-1819814431.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df5['Age'].fillna(method='ffill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    19.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [58]:
# Backward-Fill
df6=pd.read_csv('/content/Titanic-Dataset.csv')
df6['Age'].fillna(method='bfill')

/tmp/ipython-input-150787154.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df6['Age'].fillna(method='bfill')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    26.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [60]:
#interpolation
df7=pd.read_csv('/content/Titanic-Dataset.csv')
df7['Age'].interpolate()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    22.5
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [64]:
df=pd.read_csv('/content/adult_census_income.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [80]:
df = df.replace({'?':'NaN'}).head(3)
import numpy as np
df = df.replace("NaN", np.nan)

In [82]:
#Impute the Most Frequent Value in categorical dataset
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
df2=df
imputer.fit_transform(df2)

array([[90, 'Private', 77053, 'HS-grad', 9, 'Widowed', 'Exec-managerial',
        'Not-in-family', 'White', 'Female', 0, 4356, 40, 'United-States',
        '<=50K'],
       [82, 'Private', 132870, 'HS-grad', 9, 'Widowed',
        'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 4356,
        18, 'United-States', '<=50K'],
       [66, 'Private', 186061, 'Some-college', 10, 'Widowed',
        'Exec-managerial', 'Unmarried', 'Black', 'Female', 0, 4356, 40,
        'United-States', '<=50K']], dtype=object)

In [84]:
df3=df
imputer = SimpleImputer(strategy='constant', fill_value='missing')
imputer.fit_transform(df)

array([[90, 'missing', 77053, 'HS-grad', 9, 'Widowed', 'missing',
        'Not-in-family', 'White', 'Female', 0, 4356, 40, 'United-States',
        '<=50K'],
       [82, 'Private', 132870, 'HS-grad', 9, 'Widowed',
        'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 4356,
        18, 'United-States', '<=50K'],
       [66, 'missing', 186061, 'Some-college', 10, 'Widowed', 'missing',
        'Unmarried', 'Black', 'Female', 0, 4356, 40, 'United-States',
        '<=50K']], dtype=object)

In [91]:
df4=pd.read_csv('/content/Titanic-Dataset.csv')
df4.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [97]:
# Impute Missing Values Using Sci-kit Learn Librar
# Univariate Approach
import numpy as np
from sklearn.impute import SimpleImputer
df4=pd.read_csv('/content/Titanic-Dataset.csv')
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
df4['Age'] = imp.fit_transform(df4[['Age']])
print(imp.transform(df4[['Age']].head(6)))

[[22.        ]
 [38.        ]
 [26.        ]
 [35.        ]
 [35.        ]
 [29.69911765]]

In [114]:
df5=pd.read_csv('/content/Titanic-Dataset.csv')
num_cols = df5.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df5.select_dtypes(include=['object']).columns

#converting text to numbers
from sklearn.preprocessing import LabelEncoder
le_dict = {}
for col in cat_cols:
    le = LabelEncoder()
    df5[col] = df5[col].astype(str)
    df5[col] = le.fit_transform(df4[col])
    le_dict[col] = le

# Multivariate Approach
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
impute_it = IterativeImputer()
df5_imputed = impute_it.fit_transform(df5)
df5_imputed = pd.DataFrame(df5_imputed, columns=df5.columns)
print(impute_it.transform(df5_imputed.head(6)))

[[  1.           0.           3.          13.           1.
   22.           1.           0.         415.           7.25
   98.           2.        ]
 [  2.           1.           1.           5.           0.
   38.           1.           0.         504.          71.2833
   33.           0.        ]
 [  3.           1.           3.         205.           0.
   26.           0.           0.         594.           7.925
   98.           2.        ]
 [  4.           1.           1.         105.           0.
   35.           1.           0.         373.          53.1
  147.           2.        ]
 [  5.           0.           3.         523.           1.
   35.           0.           0.         352.           8.05
   98.           2.        ]
 [  6.           0.           3.         453.           1.
   27.49739911   0.           0.         108.           8.4583
   98.           1.        ]]

In [119]:
#(KNNImputer)
from sklearn.impute import KNNImputer
impute_knn = KNNImputer(n_neighbors=2)
impute_knn.fit_transform(df5)
print(impute_knn.transform(df5.head(6)))

[[  1.       0.       3.      13.       1.      22.       1.       0.
  415.       7.25    98.       2.    ]
 [  2.       1.       1.       5.       0.      38.       1.       0.
  504.      71.2833  33.       0.    ]
 [  3.       1.       3.     205.       0.      26.       0.       0.
  594.       7.925   98.       2.    ]
 [  4.       1.       1.     105.       0.      35.       1.       0.
  373.      53.1    147.       2.    ]
 [  5.       0.       3.     523.       1.      35.       0.       0.
  352.       8.05    98.       2.    ]
 [  6.       0.       3.     453.       1.      21.5      0.       0.
  108.       8.4583  98.       1.    ]]